@model CalTrekApp.Models.Obrok

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Obrok</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proteini)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proteini)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ugljikohidrati)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ugljikohidrati)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Masti)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Masti)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kalorije)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kalorije)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
